{% extends 'base.html' %}
{% block content %}

<div class="col-md-6 offset-md-3">
    <h1>舰队登记</h1>
<form method="POST" action="{% url 'dengji' %}">
	{% csrf_token %}
    <div class="container">
  <label for="from" class="form-label">请输入FC角色名：</label>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="id" name="id">
    <label for="from">角色</label>
  </div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="spr" name="spr">
  <label class="form-check-label" for="flexCheckDefault">
    极限集结
  </label>
</div>
        <div class="mb-3">
  <label for="member" class="form-label">舰队构成</label>
  <textarea class="form-control" id="member" name="member" rows="10"></textarea>
</div>
    <br/>
    </div>

 <a href="{% url 'home' %}" class="btn btn-primary ">返回</a>
    {% if is_fc %}
<button type="submit" class="btn btn-danger">添加舰队</button>
    {% endif %}

</form>
{% if jiandui_info %}
    <h2>舰队指挥：{{ jiandui_info.FC }}</h2>
    <h2>舰队ID：{{ jiandui_info.jiandui_id }}</h2>
    {% if members %}
        <table class="table table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">角色</th>
      <th scope="col">舰船</th>
      <th scope="col">舰船类型</th>
        <th scope="col">位置</th>
        <th scope="col">舰队职位</th>

    </tr>
  </thead>
        <tbody class="table-group-divider">
        <tr>
            {% for name,member in members.items %}
            <td>{{ name }}</td>
            <td>{{ member.ship }}</td>
            <td>{{ member.ship_type }}</td>
            <td>{{ member.location }}</td>
            <td>{{ member.role }}</td>
        </tr>
        {% endfor %}

    {% endif %}
     </tbody>
</table>

{% endif %}

</div>


{% endblock %}