{% extends 'base.html'%} {% block content %}

<div class="col-md-6 offset-md-3">
  {% if user.is_authenticated %}

  <h1><a href="{% url 'my_jiandui' %}">我的舰队</a></h1>

  {% else %}

  <h1>登录</h1>
  <form method="POST" action="{% url 'home'%}">
    {% csrf_token %}
    <form>
      <div class="mb-3">
        <label for="username" class="form-label">用户名</label>
        <input
          type="text"
          class="form-control"
          name="username"
          id="username"
          required
        />
        <div id="emailHelp" class="form-text">一般是你的角色名称</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">密码</label>
        <input
          type="password"
          class="form-control"
          name="password"
          id="exampleInputPassword1"
          required
        />
      </div>
      <br />

      <button type="submit" class="btn btn-secondary">登录</button>
    </form>
  </form>
</div>

{% endif %} {% endblock %}
